<ng-container *ngIf = "detail">
    <div class="module">
    <!--INIT SECTION-->
        <div class="section intro_section">
            <div class = "intro">
                <div class="intro_name">
                    <div class="name">{{detail.name}}</div>
                    <div class="review">
                        <span *ngIf = "detail.review_scores.review_scores_rating" >★{{detail.review_scores.review_scores_rating/10}}·</span>
                        <span class="value">{{detail.number_of_reviews}} evaluations</span>
                        <span class="street">{{detail.address.street}}</span>
                    </div>
                </div>
                <div class="intro_share">⊛Share    ❤Save</div>
            </div>
            <div class = "image">
                <img src = "{{detail.images.picture_url}}" alt="imageDetail">
            </div>
            <div class="more">
                <div class="util">
                    <div class = "util_row border_bottom ">
                        <div class="flex">
                            <div class="text ">
                                <div class = "title">
                                    {{detail.room_type}} in {{detail.property_type}} hosted by {{detail.host.host_name}}
                                </div>
                                <div>
                                    {{detail.accommodates}} guests·{{detail.bedrooms}} rooms·{{detail.beds}} beds·{{detail.bathrooms.$numberDecimal}} baths
                                </div>
                            </div>
                             <img  *ngIf = "detail.host.host_has_profile_pic" class = "image_" src = "{{detail.host.host_thumbnail_url}}" onerror="this.src='/assets/images/default.png'" alt="detailHost">
                        </div>
                    </div>
                    <div class = "util_row border_bottom">Cancellation policy: {{detail.cancellation_policy}}</div>
                    <div class = "util_row">{{detail.summary}}</div>
                </div>
                <div class="form">
                    <div class = "form_intro">
                        <div class="price"><span class = "price_value">{{detail.price.$numberDecimal}} $</span>/night</div>
                        <div class="score">
                            <span >★{{detail.review_scores.review_scores_rating/10}}·</span>
                            <span class="value">{{detail.number_of_reviews}} evaluations</span>
                        </div>
                    </div>
                    <form [formGroup]="airbnForm" (ngSubmit)="onSubmit()">
                        <div class="dates">
                            <input type = "date" placeholder="Start date" formControlName="start">
                            <input type = "date" End date="Start date" formControlName="end">
                        </div>
                        <div class="guests">
                            <select name="guests" id="guests" placeholder = "Guests" formControlName="guests">
                                <option value="" disabled>Guests</option>
                                <option  value = "{{i+1}}" *ngFor="let _ of [].constructor(detail.accommodates), let i = index" >{{i+1}} Guest</option>
                            </select>
                        </div>
                        <button class = 'submit' type="submit">Check availability</button>
                    </form>
                    <div *ngIf = "hasResult" class="form_result">
                        <div class="data">
                            <div class="data_item">
                                <span>{{detail.price.$numberDecimal}} x ? nights</span>
                                <span>{{detail.price.$numberDecimal}} $</span>
                            </div>
                        </div>
                        <div class="total">
                            <div class="data_item">
                                <span>Total</span>
                                <span>XX $</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <!--REVIEW SECTION-->
        <div class="section review_section">
            <div *ngIf="detail.reviews.length > 0;then yesreviews else notreviews"></div>
            <ng-template #yesreviews>
                <div class="title">
                    <span >★{{detail.review_scores.review_scores_rating/10}}·</span>
                    <span class="value">{{detail.number_of_reviews}} evaluations</span>
                </div>
                <div class="score_list">
                    <div class="score">
                        <span class="score_name">Cleanliness</span>
                        <div class="score_value">
                            <progress id="file" max="10" value="{{detail.review_scores.review_scores_cleanliness}}"></progress>
                            <span>{{detail.review_scores.review_scores_cleanliness}}</span>
                        </div>
                    </div>
                    <div class="score">
                        <span class="score_name">Accuracy</span>
                        <div class="score_value">
                            <progress id="file" max="10" value="{{detail.review_scores.review_scores_accuracy}}"></progress>
                            <span>{{detail.review_scores.review_scores_accuracy}}</span>
                        </div>
                    </div>
                    <div class="score">
                        <span class="score_name">Communication</span>
                        <div class="score_value">
                            <progress id="file" max="10" value="{{detail.review_scores.review_scores_communication}}"></progress>
                            <span>{{detail.review_scores.review_scores_communication}}</span>
                        </div>
                    </div>
                    <div class="score">
                        <span class="score_name">Location</span>
                        <div class="score_value">
                            <progress id="file" max="10" value="{{detail.review_scores.review_scores_location}}"></progress>
                            <span>{{detail.review_scores.review_scores_location}}</span>
                        </div>

                    </div>
                    <div class="score">
                        <span class="score_name">Checkin</span>
                        <div class="score_value">
                            <progress id="file" max="10" value="{{detail.review_scores.review_scores_checkin}}"></progress>
                            <span>{{detail.review_scores.review_scores_checkin}}</span>
                        </div>

                    </div>
                    <div class="score">
                        <span class="score_name">Value</span>
                        <div class="score_value">
                            <progress id="file" max="10" value="{{detail.review_scores.review_scores_value}}"></progress>
                            <span>{{detail.review_scores.review_scores_value}}</span>
                        </div>
                    </div>
                </div>

                <div class="review_list">
                    <div class = "review" *ngFor = "let review of detail.reviews.slice(0, 6)">
                        <div class = "review_data">
                            <img class = "rewiew_image" src = "/assets/images/default.png" alt="imageDefault">
                            <div class="review_name">
                                <div class = "title_2">{{review.reviewer_name}}</div>
                                <div>{{review.date | date}}</div>
                            </div>

                        </div>
                        <div class = "review_comment">
                            {{review.comments}}
                        </div>
                    </div>
                </div>
                <div *ngIf = "detail.number_of_reviews > 6">
                    <button class = "button">View all {{detail.number_of_reviews}} reviews</button>
                </div>
            </ng-template>
            <ng-template #notreviews>
                <div class="title">No reviews (yet)</div>
            </ng-template>



        </div>
    <!--MAP SECTION-->
        <div class="section section_map">
            <div class="title">Where you’ll be</div>
            <div class = "view_map">
                <app-map-component [position] = "detail.address.location.coordinates"></app-map-component>
            </div>
            <div class="street_item street_map">{{detail.address.street}}</div>
            <div class="street_item substreet_map">
                <span *ngIf = "detail.address.suburb">{{detail.address.suburb}}. </span>
                <span *ngIf = "detail.address.government_area">{{detail.address.government_area}}.</span>
            </div>
            <div class="street_item link">View more ></div>
        </div>
    <!--HOST SECTION-->
        <div class="section section_host">
            <div class = "host host_intro">
                <img  *ngIf = "detail.host.host_has_profile_pic" class = "host_image" src = "{{detail.host.host_thumbnail_url}}" onerror="this.src='/assets/images/default.png'" alt="imageDefault">
                <div class="host_name">
                    <div class = "title">Hosteded by {{detail.host.host_name}}</div>
                    <div>Se registró en febrero 2019</div>
                </div>
            </div>
            <div class = "host host_info">
                <span *ngIf = "detail.host.host_is_superhost">⊛ Superhost</span>
                <span *ngIf = "detail.host.host_identity_verified">⊛ Identity verified</span>
            </div>
            <div class = "host host_super" *ngIf = "detail.host.host_is_superhost">
                <div class = "title_2">{{detail.host.host_name}} is a Superhost</div>
                <div>Superhosts are experienced, highly-rated hosts who are committed to providing great stays for guests.</div>
            </div>
            <div class=  "host host_response" *ngIf = "detail.host.host_response_rate">Response rate: {{detail.host.host_response_rate}}%</div>
            <div class = "host host_time" *ngIf = "detail.host.host_response_time">Response time: {{detail.host.host_response_time}}</div>
            <div class = "host" *ngIf = "detail.host.host_about">{{detail.host.host_about}}</div>
            <div class = "host">
                <a href = "{{detail.host.host_url}}"><button class = "button">Contact host</button></a>
            </div>
        </div>
    </div>
</ng-container>

