
<div div class = "header">
    <div class="section">
        <div class="image">
            <a href="/">
                <picture>
                    <source media="(max-width: 600px)" srcset="../assets/images/logo_mobile.png" />
                    <img src="../assets/images/logo.png" />
                </picture>
            </a>
        </div>
    </div>
    <div class="searcher">
        <div class = flex>
            <input type="text"  placeholder = "Start your search"  [(ngModel)]="ciudad"/>
            <button (click)='SearchCity()'></button>
        </div>
    </div> 
    
</div>

