.header {
    border-bottom: 2px solid whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .section {
    min-width: auto;
}

.header .searcher {
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    top:15px;
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border-radius: 30px;
}

.header .searcher .flex {
    display: flex;
}

.header .searcher input {
    padding: 2px 7px;
    border: none;
    margin-right: 20px;
    border-radius: 5px;
    color: gray;
}

.header .searcher input:focus {
    outline: none;
    border:1.5px solid #ff385c;

}

.header .searcher button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ff385c;
    border: none;
}




.header .section .image img {
    margin: 20px 0px;
    width: 100px;
    margin-left: 20px;
}

@media (max-width: 600px) {
    .header .section .image img {
        margin: 20px 0px;
        width: 29px;
    }
}
