<ng-container *ngIf = "detail">
    <div class="module">
        <div class="section">
            <div class = "intro">
                <div class="intro_name">
                    <div class="name">{{detail.name}}</div>
                    <div class="review">
                        <span class="value">★5·{{detail.number_of_reviews}} evaluations</span>
                        <span class="street">{{detail.address.street}}</span>
                    </div>
                </div>
                <div class="intro_share">⊛Share    ❤Save</div>
            </div>
            <div class = "image">
                <img src = "{{detail.images.picture_url}}">
            </div>
            <div class="more">
                <div class="util">
                    <div class = "util_row border_bottom ">
                        <div class="flex">
                            <div class="text ">
                                <div class = "title">
                                    {{detail.room_type}} in {{detail.property_type}} hosted by {{detail.host.host_name}}
                                </div>
                                <div>
                                    {{detail.accommodates}} guests·{{detail.bedrooms}} rooms·{{detail.beds}} beds·{{detail.bathrooms.$numberDecimal}} baths
                                </div>
                            </div>
                             <img  *ngIf = "detail.host.host_has_profile_pic" class = "image_" src = "{{detail.host.host_thumbnail_url}}">
                        </div>
                    </div>
                    <div class = "util_row border_bottom">Cancellation policiy: {{detail.cancellation_policy}}</div>
                    <div class = "util_row">{{detail.summary}}</div>
                </div>
                <div class="form"><form></form></div>
            </div>
        </div>

        <div class="section">
            <div class="title">No reviews (yet)</div>
            
        </div>

        <div class="section section_map">
            <div class="title">Where you’ll be</div>
            <div class="map"></div>
            <div class="street_map">{{detail.address.street}}</div>
        </div>

        <div class="section section_host">
            <div class = "host host_intro">
                <img  *ngIf = "detail.host.host_has_profile_pic" class = "host_image" src = "{{detail.host.host_thumbnail_url}}">
                <div class="host_name">
                    <div class = "title">Hosteded by {{detail.host.host_name}}</div>
                    <div>Se registró en febrero 2019</div>
                </div>
            </div>
            <div class = "host host_info">
                <span *ngIf = "detail.host.host_is_superhost">⊛ Superhost</span>
                <span *ngIf = "detail.host.host_identity_verified">⊛ Identity verified</span>
            </div>
            <div class = "host host_super" *ngIf = "detail.host.host_is_superhost">
                <div class = "title_2">{{detail.host.host_name}} is a Superhost</div>
                <div>Superhosts are experienced, highly-rated hosts who are committed to providing great stays for guests.</div>
            </div>
            <div class=  "host host_response" *ngIf = "detail.host.host_response_rate">Response rate: {{detail.host.host_response_rate}}%</div>
            <div class = "host host_time" *ngIf = "detail.host.host_response_time">Response time: {{detail.host.host_response_time}}</div>
            <div class = "host" *ngIf = "detail.host.host_about">{{detail.host.host_about}}</div>
            <div class = "host">
                <a href = "{{detail.host.host_url}}"><button>Contact host</button></a>
            </div>
        </div>
    </div>
</ng-container>

