
.image{
  margin-top: 10px;
  width: 400px;
  height: 300px;
  border-radius: 7px;

}
.adress{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.card{
  padding: 20px;
}
.container{
  max-width: 100%;
}

.cursor{

  cursor: pointer;
}

.loader {

}
